* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#ayrton-senna{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    height: 300px;
}